body{
    background-color: rgb(231, 228, 224);
}
div{
    height: 200px;
    width: 200px;
    padding: 20px;
}
.div-1{
    background-color: cadetblue;
    border: 10px solid;
    
}
.div-2{
    background-color: gold;
    border-top: 20px solid;
    border-bottom: 20px solid;
    border-left: 10px solid;
    border-right: 10px solid;
    margin-left: 259px;
}
.div-3{
    background-color: indianred;
    border: 10px solid;
}
